@theme{
     /* === 顏色（文字主題）=== */
  --color-primary: #3F5D45; /* 深綠主色 */
  --color-accent: #FFE180;  /* 奶油黃強調 */
  --color-soft: #EAF0ED;    /* 灰綠底白字 */
  --color-muted: #8DA291;   /* 輔助文字 */
  --color-invert: #FFFFFF;  /* 白字（深底用） */
}